/* Resets */

html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
    -webkit-appearance: none;
    display: inline;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: auto;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
  }

li {
	list-style-type: none;
}

/* General */

.group:after {
	content: "";
	display: block;
	clear: both;
}